@charset "UTF-8";
/*CSS Documnent*/

div,p,body,header,footer,section,article,nav,h1,h2,h3,h4 
{ 
margin: 0; 
padding: 0; 
} 

img 
{ 
border: none; 
margin: 0; 
padding: 0; 
}

/*html selectors*/

body 
{
font-family: "Agency FB";
font-size: 16px;
color: #000;
background-color: #DFDBE5;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/*a:link is for not visited, a:visited is for visited, and just a applies to both.*/
/*a will also style anchor links*/

a:link, a:visited 
{ 
text-decoration:none; 
}

a:hover, a:active 
{ 
text-decoration:none; 
 }

/*hide elements from browser but show for doc outline*/

.hidden
{
  display: none;
}

#siteContainer
{
	width: 980px;
	margin: 0 auto;
	background-color: #ccbbac;
}

#topBar
{
	height: 20px;
	width: 980px;
	background-color: #887489;
}

#mainHeader
{
	display: flex;
	flex-dierction: row;
	justify-content: flex-start;
}

#logo
{
	width: 200px;
	height: 101px;
	margin-top: 20px;
	margin-left: 20px;
}

#mainNav
{
	width: 400px;
	height: 100px;
	margin-left: auto;
	margin-top: 70px;
}

#mainNav ul 
{
	list-style-type: none;
}

#mainNav ul li 
{
 	font-size: 22px;
 	display: inline;
 	cursor: pointer;
 	margin-left: 20px;
 	font-weight: bold;
}

#mainNav ul li a 
{
	color: #6d6e71;
	padding: 5px;
}

#mainNav ul li a:hover {
  	padding: 5px;
  	color: #887489;
}

#mainFooter
{
	display: flex;
	flex-dierction: row;
	justify-content: space-between;
	margin-top: 20px;
}

#FooterNav
{
	width: 400px;
	height: 100px;
	margin-left: auto;
}

#footerNav ul 
{
	list-style-type: none;
}

#footerNav ul li 
{
 	font-size: 22px;
 	display: inline;
 	cursor: pointer;
 	font-weight: bold;
 	margin-right: 20px;
}

#footerNav ul li a 
{
	color: #6d6e71;
	padding: 5px;
}

#footerNav ul li a:hover {
  	padding: 5px;
  	color: #887489;
}

#socialCopy
{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-right: 10px;
	margin-left: auto;
}

.socialMedia
{
	height: 45px;
	margin-top: 10px;
	margin-left: 115px;
}

#iconNav ul
{
	list-style-type: none;	
}

#iconNav li
{
	display: inline;
	margin-right: 10px;
}

#iconNav img 
{
	width: 40px;
	height: 40px;
}

#iconNav
{
  	list-style: none;
  	margin: 0;
 	padding: 0
}

#iconNav li a
{
  	filter: grayscale(100%);
}

#iconNav li a:hover
{
  	filter: grayscale(0%);
}

#copyRight
{
	font-size: 14px;
	font-weight: bold;
	color: #6d6e71;
	margin-top: 10px;
	padding: 10px;
}

/*HOME PAGE*/

#homeContent
{
	width: 930px;
	height: 710px;
	margin: 0 auto;
	background-color: #a096a1;
}

#mainContent
{
	display: flex;
	justify-content: flex-start;
	margin-top: 10px;
}

.promoImage 
{
	float: left;
	margin-top: 28px;
	margin-left: 20px;
}

.promoText
{
	float: right;
	margin-top: 30px;
	text-align: left;
	font-size: 25px;
	color: #6d6e71;
	font-weight: bold;
	padding: 20px;
}

#outsideBox
{
	display: flex;
	justify-content: space-evenly;
	margin-top: 50px;
}

.box1 h2
{
	position: relative;
	bottom: 280px;
	font-weight: bold;
	text-align: center;
	color: #6d6e71;
}

#productText
{
	position: relative;
	bottom: 280px;
	text-align: center;
	color: #6d6e71;
	font-size: 17px;
	padding-right: 2px;
	padding-left: 2px;
}

.box2 h2
{
	position: relative;
	bottom: 280px;
	font-weight: bold;
	text-align: center;
	color: #6d6e71;
}

.box3 h2
{
	position: relative;
	bottom: 280px;
	font-weight: bold;
	text-align: center;
	color: #6d6e71;
}

.box4 h2
{
	position: relative;
	bottom: 280px;
	font-weight: bold;
	text-align: center;
	color: #6d6e71;
}

/*gallery page*/

#mainGallery
{
	background-color: #a096a1;
	width: 940px;
	height: 710;
	margin-left: 20px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}

#mainGallery h2 
{
	color: #56575a;
	font-size: 36px;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 20px;
}

.galleryTop
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px;
	margin-top: 60px;
	width: 940px;
	flex-wrap: wrap;
}

.top p 
{
	color: #6d6e71;
	position: relative;
	bottom: 220px;
	text-align: center;
	font-weight: bold;
	font-size: 22px;
}

.seeMore 
{
	color: #56575a;
	font-size: 18px;
	position: relative;
	bottom: 25px;
	left: 125px;
	font-weight: bold;
}

.top a:hover
{
	text-decoration: underline;
}

.bottom a:hover
{
	text-decoration: underline;
}

.galleryBottom
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px;
	margin-bottom: 20px;
	width: 940px;
	flex-wrap: wrap;
}

.bottom p 
{
	color: #6d6e71;
	position: relative;
	bottom: 218px;
	font-weight: bold;
	text-align: center;
	font-size: 22px;
}

/*Contact Page*/

#mainContact
{
	display: flex;
  	flex-direction: row;
  	justify-content: space-between;	
}

#contactArea
{
	width: 445px;
	height: 635px;
	background-color: #a096a1;
  	margin-left: 20px;
  	dispaly: flex;
  	flex-direction: column;
  	justify-content; flex-start;
  	flex-wrap: wrap;
}

#contactArea 
{

}

#contactArea h3
{
	color: #56575a;
	font-size: 36px;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 20px;	
}

#contactText
{
	color: #56575a;
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 20px;
}
#contactForm
{
	margin-top: 20px;
}

label
{
    color: #56575a;
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 20px;
	display: block;	
}

input, textarea  
{
  	font-size: 12px;
  	margin-top: 5px;
  	margin-left: 20px;
  	padding: 5px;
  	width: 360px;
  	height: 15px;
  	background-color: white;
  	display: block;
  	border: 1px solid #999;
  	color: #333;
}

#comments
{
  width: 360px;
  height: 150px;
}

#submit
{
  display: block;
  width: 75px;
  height: 30px;
  text-align: center;
  margin-top: 20px;
  color: #56575a;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #b7a6a1;
  font-size: 14px;
  border: 1px solid #56575a;
  cursor: pointer;
  font-weight: bold;
}

#mapArea
{
	width: 445px;
	height: 635px;
	background-color: #a096a1;
  	margin-left: 20px;
  	margin-right: 20px;
  	display: flex;
  	flex-direction: column;
  	justify-content: flex-start;
}

#mapArea h3
{
	color: #56575a;
	font-size: 36px;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 20px;	
}

#mapArea ul
{
  	list-style-type: none;
  	padding: 0;
}

#mapArea li 
{
	color: #56575a;
	font-size: 16px;
	font-weight: bold;
	margin-left: 20px;	
}

iframe
{
	margin-left: 20px;
	margin-top: 40px;
}
